img {
    width: 90%;
}

.ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: calc(100%/4);
    height: calc(100%/4);
    transition: .1s ease-in-out;
}

.path:hover .ball {
    width: calc(100% / 3.5);
    height: calc(100% / 3.5);
}

.ring {
    position: absolute;
    width: 95%;
    height: 95%;
    border: 3px solid rgba(250, 235, 215, 0.5);
    border-radius: 50%;
    left: 2.5%;
    bottom: 2.5%;
    transition: .1s ease-in-out;
}

.ring::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.path:hover .ring {
    border: 5px solid rgba(250, 235, 215, 0.6);
}

.square {
    position: absolute;
    width: calc(100%/4);
    height: calc(100%/4);
    border: 2px solid rgba(250, 235, 215, 0.5);
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    transition: .1s ease-in-out;
    box-sizing: content-box;
    transition: .1s ease-in-out;
}

.square::before {
    content: '';
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.path:hover .square {
    border: 4px solid rgba(250, 235, 215, 0.7);
}

.image-container {
    position: relative;
    width: 100%;
    height: 30px;
}

.image-container img {
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: translate(0, -40%);
}